@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --purple: #5E3BEE;
    --black: #282938;
    --light: #F5FCFF;
    --pink: #E62872;
    --dark: #1C1E53;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


/* Navigation */
.nav_div {
    display: flex;
    padding: 0px 64px;
    align-self: center;
    position: relative;
    height: 90px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
}

.logo {
    width: 140px;
    height: 30px;
    top: 11px;
}

.nav_links {
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: var(--black);
}

.active, a:hover {
    color: var(--purple);
}

.white_btn {
    background-color: white;
    color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 4px;
    height: 52px;
    width: 128px;
}

.purple_btn {
    background-color: var(--purple);
    color: white;
    border: 1px solid var(--purple);
    border-radius: 4px;
    height: 52px;
    width: 128px;
}

/* Home */
.home_div {
    /* padding: 133.333px 85.3333px; Myb van */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--light);
}

#side_text_home {
    display: flex;
    flex-direction: column;
    order: 0;
    color: var(--black);
}

#home_pic {
    flex: none;
    order: 1;
    width: 50%;
    padding: 126px;
    padding-right: 50px;
    padding-left: 00px;
}

#john {
    margin-top: 33%;
    font-weight: bold;
    font-size: 25px;
}

.bigger_font {
    font-weight: bold;
    font-size: 83px;
    line-height: 100px;
}

#latin_for_no_reason {
    font-size: 23px;
    line-height: 35px;
}

.purple {
    color: var(--purple);
}

#touch {
    margin-top: 50px;
}

/* Portfolio */
#personal_skills {
    margin-top: 100px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 45px;
}

.portfolio_div {
    display: flex;
    flex-direction: column;
}

#actual_skills {
    display: flex;
    justify-content: space-around;
}

.expertise_font {
    font-weight: bold;
    font-size: 95px;
    margin-top: 5px;
    line-height: 110px;
    margin-left: 45px;
    margin-bottom: 100px;
}

#first_skill {
    border-bottom: 4px solid #5E3BEE;
}

span.skill_container {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    display: flex;
    width: 20%;
    border-radius: 10.6667px;
}

.expertise_img {
    width: 10%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.expertise_title {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
}

.expertise_text {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}